.wrapper {
    position: relative;
    overflow: hidden;
}
.header {
    position: absolute;
    width: 100%;
    z-index: 100;
}
.header.active {
    position: fixed;
    background-color: var(--main-site-bakground);
}
.sidebar {
    position: fixed;
    z-index: 98;
    left: 0;
    top: 151px;
    height: calc(100vh - 215px);
    padding: 5px 5px 5px 0;
    line-height: 1;
    color: var(--main-light-color);
}
.content {
    text-align: center;
}
.footer {
    position: relative;
}
@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
