.wrapper {
    position: relative;
}

.green-background {
    background-color: var(--main-site-bakground);
    color: #fff;
    text-align: center;
    padding: 141px 45px 0;
    h1 {
        font-size: 3.2rem;
        margin-bottom: 0.6em;
    }
}
.img-area {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    max-height: 280px;
}
.coffee-img {
    display: block;
    width: 303px;
    height: auto;
}
.green-background-text {
    margin-bottom: 22px;
    color: var(--main-light-color);
    font-size: 1.6rem;
}
.patch-drawing {
    position: relative;
    height: 960px;
}
.drawing-wrapper {
    position: absolute;
    z-index: 5;
    left: 51%;
    transform: translateX(-51%) rotate(180deg);
    max-width: 100%;
    pointer-events: none;
}
.video-intro {
    z-index: 90;
    height: 100vh;
    position: relative;
    text-align: center;
    .mask-container {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #000), to(transparent));
        -webkit-mask-image: linear-gradient(0deg, #ccc 70%, transparent);
        mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #000), to(transparent));
        mask-image: linear-gradient(0deg, #000 70%, transparent);
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}
.feature-product {
    width: 100%;
}
.product-slide {
    padding: 100px;
    min-height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.sustainable-value-wrapper {
    margin: 0px auto;
    padding: 0px 15px;
    max-width: 1140px;
}
.sustainable-value-content {
    padding: 60px 20px 30px;
    display: grid;
    grid-template-areas:
        'header header -'
        'block1 block2 more';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 30px;
    h4 {
        grid-area: header;
        font-size: 3.2rem;
        font-weight: 600;
    }
    .readmore-link {
        grid-area: more;
    }
}
.sustainable-value-img {
    display: block;
    width: 100%;
    height: auto;
}
.news-wrapper {
    padding: 75px 116px;
    display: flex;
    column-gap: 25px;
}
.post-item {
    width: 25%;
    .post-thumbnail {
        display: block;
        width: 100%;
        height: calc(100% - 155px);
        object-fit: cover;
    }
    a {
        height: 100%;
    }
    &:hover {
        .post-title {
            color: var(--main-site-bakground);
        }
    }
}
.post-description {
    padding: 20px 0;
    .post-category {
        margin-bottom: 10px;
        color: #d4ca9f;
        text-transform: uppercase;
    }
    .post-title {
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-bottom: 20px;
        height: 50px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        // white-space: nowrap;
        // text-overflow: ellipsis;
    }
    .post-time {
        color: #a7a7a7;
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 1024px) {
    .product-slide {
        padding: 0;
        padding: 40px 65px 140px;
    }
    .sustainable-value-wrapper {
        margin: auto;
        max-width: 960px;
    }
    .news-wrapper {
        padding: 20px;
    }
    .post-category {
        font-size: 1.4rem;
    }
    .post-title {
        font-size: 1.6rem;
    }
    .post-time {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 768px) {
    .green-background {
        h1 {
            font-size: 2rem;
        }

        .green-background-text {
            font-size: 1.4rem;
        }
    }
    .product-slide {
        padding: 40px 20px 100px;
    }
    .sustainable-value-wrapper {
        max-width: 540px;
    }
    .sustainable-value-content {
        display: block;
        h4 {
            margin-bottom: 40px;
        }
        .readmore-link {
            margin: 30px 0;
        }
    }
    .sustainable-value-img {
        padding: 60px 20px 30px;
    }
    .news-wrapper {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        .post-item {
            width: 100%;
        }
    }
}
